<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Optima.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55318CFD2DF721BF000B0EC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55318D0B2DF721C3000B0EC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55318D152DF721C3000B0EC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
